/db/test.sqlite3-journal
config/application.rb
config/config.yml
config/deploy.rb
config/secrets.yml
config/master.key
config/credentials.yml.enc
/vendor/cache
/vendor/cache-old
/storage/*
!/storage/.gitkeep
.idea/*
*.iml
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
!/log/.gitkeep
/tmp/*
!/tmp/.gitkeep
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*~
/public/assets
/bundle
/doc/app
.vagrant/
.env
.env.production
.env.development
.env.test
.env.local
.envrc
docker-compose.override.yml
.DS_Store
.byebug_history
.buildconfig
moraga_development
moraga_test
.ackrc
spec/support/deprecation_shitlist.json

/config/credentials/production.key

# Kamal deployment secrets
.kamal/secrets
config/deploy.yml

