= u.input :mobile,  label: t('Mobile No (Include country code)'), input_html: {placeholder: 'Eg. +336812345679'}, hint: 'Only visible to org team & volunteer coordinator'

= u.input :tshirt, label: t("Tshirt Size"), collection: [["Choose", nil],["XS","XS"],["S","S"],["M", "M"], ["L", "L"], ["XL", "XL"], ["XXL", "XXL"], ["XXXL", "XXXL"], ["Girl-S","Girl-s"], ["Girl-M","Girl-M"], ["Girl-L","Girl-L"], ["Girl-XL","Girl-XL"]]

= u.input :languages, label: t("Which languages do you speak"), hint: t("language-hint")

= u.input :volunteer_experience, label: t("Do you have any past experience?"), input_html: {rows: 3, class: 'span6'}
