.row
  .col-md-12
    .page-header
      %h1
        %i.fa-solid.fa-plus
        = t('admin.splashpages.new.title')
      %p.text-muted= t('admin.splashpages.new.subtitle')
.row
  .col-md-10.col-md-offset-1
    = render partial: 'form'
